body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center, .center-column, .top, .right, .bottom, .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns, .button {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 25px;
  align-items: center;
}

.button {
  justify-content: center;
  text-align: center;
  margin-left: 100px;
}

.button2 {
  justify-content: center;
  text-align: center;
  margin-left: -75px;
}

.headingtext {
  justify-content: center;
  text-align: left;
  margin-left: 100px;
  margin-top: -75px;
}

.headingtext2 {
  justify-content: center;
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
}
      
.center-column {
  flex-direction: column;
}
      
.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }
